@using ExamWebApp.Models
@using ExamWebApp.Resources;
@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resource.ForgotPassword;
}

@await Html.PartialAsync("~/Views/Shared/_Notification.cshtml")

<div class="my-5"></div>

<section class="py-10 px-3 px-sm-5">
    <div class="container">
        <div class="row justify-content-start align-items-start gx-0 gx-sm-5">
            <div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-0">
                <img src="~/Assets/forgotpassword.jpg" class="img-fluid w-100 rounded" alt="" />
            </div>
            <div class="col-lg-6 order-0 order-lg-1">
                <h1 class="fw600 pb-2 title-lg"><span class="color-primarycolor">@Resource.Forgot</span> @Resource.Password</h1>
                <div class="pb-3">@Resource.FillInEmailAddressWeWillSendYouResetPasswordLink</div>
                @Html.ValidationSummary("", new { @class = "invalid-message" })
                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,null, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                    <button type="submit" class="btn form-btn btn-primary hover-boxshadow hover-moveup">@Resource.Submit</button>
                }
            </div>
        </div>
    </div>
</section>

